<div class="container-fluid">
    <div class="card m-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">Dashboard</div>
                <div class="col-md-6 text-end">
                    <button class="btn btn-secondary btn-sm" (click)="onClickFilter()">Filter</button>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="LICENSE">Date : </label>
                    <input type="date" class="form-control" [(ngModel)]="model.Date"
                        name="model.Date" id="">
                </div>
             <hr>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>                    
                    <th>Owner Name</th>
                    <th>Vehicle Type</th>
                    <th>License No</th>
                    <th>Entry Time</th>
                    <th>Exit Time</th>
                    <th>Status</th>
                   
                </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let item of listData; let i=index;">
                        <td>{{item?.VEHICLE_OWNER_NAME}}</td>
                        <td>{{item?.VEHICLE_TYPE=='t' ? 'Truck' : item?.VEHICLE_TYPE=='m' ? 'Microbus' : 'Car'}}</td>
                        <td>{{item?.LICENSE}}</td>
                        <td>{{item?.CAR_ENTRY_DATE}}</td>
                        <td>{{item?.CAR_EXIT_DATE}}</td>
                        <td>{{item?.STATUS == 'i' ? 'In' : 'Out'}}</td>
                        
                    </tr>
                </tbody>
              </table>
<div class="d-flex justify-content-between">
            <div class="card col-md-4 mt-3">
                <div class="card-body">
                  <h5 class="card-title">Total Cars Parked</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{model.Date}}</h6>
                  <p class="card-text"> <b>Car Parked : {{totalCarsParked}}</b></p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            <div class="card col-md-4 mt-3">
                <div class="card-body">
                  <h5 class="card-title">Total Empty Slot</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{model.Date}}</h6>
                  <p class="card-text"> <b>Empty Slot : {{emptySlot}}</b> </p>
                  <!-- <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a> -->
                </div>
              </div>
            <div class="card col-md-4 mt-3">
                <div class="card-body">
                  <h5 class="card-title">Vehicle Type Info</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{model.Date}}</h6>
                  <div class="d-flex justify-content-between">
                    <div class="col-md-4"> <b>Microbus : {{microbus}}</b></div>
                    <div class="col-md-4"> <b>Car : {{car}}</b></div>
                    <div class="col-md-4"> <b>Truck : {{truck}}</b></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
            <!-- <google-chart
    [title]="title"
    [type]="type"
    [data]="pieChartData"
    [columns]="pieChartColumns"
    [options]="options"
    (select)="onSelect($event)"
  ></google-chart> -->

 
        </div>
    </div>

